/* --------------------------------------------------- */
/* ----------------------主要样式------------------------ */
/* --------------------------------------------------- */

/* 2.页脚渐变色滚动动画 */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

#footer {
  background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#footer:before {
  background-color: rgba(0, 0, 0, 0);
}

/* --------------------------------------------------- */
/* ----------------------分隔栏------------------------ */
/* --------------------------------------------------- */

/* 3.页脚地球动画 */
.copyright svg {
  animation: butterfly 1s linear infinite alternate;
}

@keyframes butterfly {
  from {
    transform: rotateY(70deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

/* --------------------------------------------------- */
/* ----------------------分隔栏------------------------ */
/* --------------------------------------------------- */

/* 4.渐变色背景 */
#web_bg {
  background: -webkit-linear-gradient(0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%);
  background: -moz-linear-gradient(0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%);
  background: -o-linear-gradient(0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%);
  background: -ms-linear-gradient(0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%);
  background: linear-gradient(90deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%);
}

/* --------------------------------------------------- */
/* ----------------------分隔栏------------------------ */
/* --------------------------------------------------- */

/* 5.鼠标样式 */
body,
/* 全局默认鼠标指针 */
html {
  cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur), auto !important;
}

img,
/* 悬停图片时的鼠标指针 */
a:hover,
/* 选择链接标签时的鼠标指针 */
input:hover,
/* 选中输入框时的鼠标指针 */
button:hover,
/* 悬停按钮时的鼠标指针 */
#footer-wrap a:hover,
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#pagination .page-number:hover,
/* 悬停页码时的鼠标指针 */
#nav .site-page:hover,
/* 悬停菜单栏时的鼠标指针 */
#nav #site-name:hover,
/* 悬停左上角小标题 */
#waifu #live2d:hover,
/* 悬停看板娘 */
i:hover {
  /* 悬停列表便签的鼠标指针 */
  cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur), auto !important;
}

/* --------------------------------------------------- */
/* ----------------------分隔栏------------------------ */
/* --------------------------------------------------- */

/* 6.滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/* --------------------------------------------------- */
/* ----------------------分隔栏------------------------ */
/* --------------------------------------------------- */

/* 7.个人栏图标放大 */
.iconfont {
  /* 这两个是抗锯齿 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 23px;
}

.fa-envelope:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 21px;
}

.icon-bilibili-fill:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 24px;
}

.icon-csdn1-copy:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 22px;
}

.icon-QQyinle:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 26px;
}

.icon-gitee-fill-round:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 22px;
}

.icon-leetcode:before {
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 22px;
}

/* --------------------------------------------------- */
/* ----------------------分隔栏------------------------ */
/* --------------------------------------------------- */

/* 时间轴生肖 */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

